<#@ include file="..\Info.ttinclude" #>
<#@ output extension=".cs" #>
using System;
using System.Reflection;
using System.Resources;
using System.Runtime.InteropServices;

[assembly: AssemblyCompany("<#= author #>")]
[assembly: AssemblyProduct("<#= product #>")]

[assembly: AssemblyVersion("<#= version #>")]
[assembly: AssemblyFileVersion("<#= version #>")]