<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="NuGet.Core.dll" #>
<#@ output extension=".g.cs" #>
namespace ClariusLabs.NuGetReferences
{
    using System;
    using System.Linq;

    partial class Constants
    {
        public static string NuGetBuildVersion = "<#= typeof(NuGet.IPackage).Assembly.GetName().Version #>";
    }
}