<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clide" version="1.4.1305.1705" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="netfx-System.Dynamic.Reflection" version="1.1.1.0" targetFramework="net45" />
  <package id="netfx-System.StringFormatWith" version="1.0.0.13" targetFramework="net45" />
  <package id="netfx-System.StringResources" version="1.0.0.10" targetFramework="net45" />
  <package id="NuGet.VisualStudio" version="2.5.0" targetFramework="net45" />
</packages>